Default styles for larger screens
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
  width: 170px;
  height: 75px;
}

.container, .assessmentContainer {
  margin: 20px;
  padding: 20px;
}

h4 {
  font-size: 28px;
  color: #fff;
}

h3 {
  font-size: 20px;
  color: #000;
}

p {
  line-height: 1.5;
  color: #666;
}

.week {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 15px;
  border: 1px solid #ccc;
  height: 300px;
  border-radius: 20px;
  width: calc(45%);
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.week1, .week2, .week3, .week4, .week5, .week6, .week7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  border-radius: 20px;
  width: calc(45%);
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
  .logo {
    margin-left: 10px;
    margin-top: 10px;
    width: 120px;
    height: 50px;
  }

  .container, .assessmentContainer {
    margin: 10px;
    padding: 10px;
  }

  h4 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .week, .week1, .week2, .week3, .week4, .week5, .week6, .week7 {
    width: 100%;
    margin: 10px 0;
  }
}
