body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: 20px;
    margin-top: 5px;
    width: 170px;
    height: 75px;
}

.container {
    max-width: 868px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}


.contact {
    font-weight: bold;
}

.footer{
    background-color: #1e1e28;
}

.copy-right p {
    color: #fff;
    font-size: large;
}
.theme-design{
    color: #fff;
    font-size: large;
    font-weight: 600;
}
.row{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.socialicons ul{
    display: flex;
    margin-left: 20px;
    list-style: none;
}
.socialicons ul li{
    margin-left: 20px;
    list-style: none;
}
.fab{
    color: #666;
}